* {
  margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.section {
  background-color: rgb(240,255,255);
  /* border: solid red 1px; */
  /* display:-webkit-box;
  -webkit-box-pack: center;
  text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.heading {
  border: 5px solid black;
  padding: 15px 22px;
  width:fit-content; width:-webkit-fit-content; width:-moz-fit-content;
  /* margin-right: auto;
  margin-left: auto; */
  margin: auto;
}

a {
 text-decoration: none;
 color: white;
}